#jira-chart .jira-chart-search {
    padding: 10px 10px 0 10px;
}

#jira-chart .jira-chart-search .search-help {
    font-size: 10px;
}

#jira-chart-content-createdvsresolved, #jira-chart-content-pie, #jira-chart-content-twodimensional {
    position: relative;
    z-index: 40;
    height: 470px;
    overflow: hidden;
    margin-top: 10px;
}

#jira-chart .jira-chart-img {
	margin : 10px;
	padding : 0;
	overflow : hidden;
}

#chart-preview-iframe {
    border: none;
    height: 375px;
    width: 100%;
    margin-top: -20px;
}

.aui-message-container {
    text-align: left;
}

.jira-chart-macro-wrapper .info, .created-vs-resolved-info,
.jira-chart-macro-preview-container {
	text-align: center;
}

.jira-chart-macro-img, .jira-chart-macro-img-created-vs-resolved {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.jira-chart-macro-wrapper, .jira-chart-macro-wrapper-created-vs-resolved {
	padding: 10px 0;
	display: inline-block;
}

.jira-chart-macro-wrapper .info a {
    text-decoration : none;
}

/**/
#jira-chart-macro-preview-contaier .aui-message {
	margin-top : -20px;
	margin-left : -19px;
	margin-right : -19px;
}

#jira-chart .jira-chart-search-input.one-server {
    display: inline-block;
    width: 535px;
}

#jira-chart .jira-chart-option {
    background: none repeat scroll 0 0 #FFFFFF;
    border-top: 1px solid #CCCCCC;
    position: absolute;
    width: 100%;
    z-index: 50;
}

#jira-chart a.jirachart-display-opts-open, #jira-chart a.jirachart-display-opts-close {
    font-size: 14px;
    line-height: 27px;
}

#jira-chart a.jirachart-display-opts-open.disabled {
    opacity: .5;
    text-decoration: none;
    cursor: help;
    color: #838383;
}

#jira-chart .dialog-panel-body {
    padding: 0 !important;
}

#jira-chart .jira-chart-img .jira-chart-macro-img {
    text-align: center;
    padding-top: 2px;
    height: 375px;
    overflow: auto;
}

#jira-chart .jira-chart-img .aui-message-container {
   margin: 0 10px;
}

.jira-chart-search-input {
    display: inline-block;
    width: 380px;
}

#jira-chart-servers.select {
    margin: 0 8px 1px;
    padding-top: 5px;
    max-width: 125px;
}

#jira-chart .jirachart-border {
    border: 1px solid #CCCCCC;
}

#jira-chart .display-option-icon {
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px 3px 0;
}

#jira-chart .jirachart-display-opts-close .display-option-icon {
    background: url(icon-expand-view-down.png) no-repeat;
}

#jira-chart .jirachart-display-opts-open .display-option-icon {
    background: url(icon-expand-view-up.png) no-repeat;
}

#jira-chart .loading-data {
    margin-left: 250px;
    margin-top: 60px;
}

#jira-chart .moreToCome {
    padding-left: 10px;
}

#jira-chart .dialog-page-menu li button::-moz-focus-inner {
    margin: 0;
    padding: 0;
}

#jira-chart-search-input.one-server.long-field {
    max-width: 525px;
}

#jira-chart-search-input.search-text {
    max-width: 390px;
}

#jira-chart .jiraChartOption {
    padding: 8px 10px;
}

/*
    We are using AJS.ConfluenceDialog which overrides from AJS.Dialog.
    There is some limitation on buttons in AJS.Dialog, it generates button without 'aui-button' class
    The code bellow is copied from aui-buton to support disabled style for dialog's buttons.
*/
#jira-chart .button-panel-button.disabled {
    background: linear-gradient(to bottom, #FFFFFF 0%, #F2F2F2 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-color: #CCCCCC;
    box-shadow: none;
    color: #999999;
    cursor: default;
    text-shadow: none;
}

.jirachart-border .jira-chart-macro-img {
    padding: 1px;
    border: 1px solid #CCC;
}

.jira-chart-search-input.one-server{
    display: inline-block;
    width: 535px;
}

#jira-chart .help-aligment {
    margin-left: 10px;
    cursor: pointer;
}


/*
Two dimensional chart
*/

.two-dimensional-chart, .two-dimensional-chart-module {
    display: inline-block;
}

.two-dimensional-chart .chart-border {
    border:1px solid #CCC;
    padding:5px;
    display: inline-block;
}

.two-dimensional-chart.view-mode {
    max-width: 99%;
    overflow: auto;
}

.two-dimensional-chart.preview-mode a, .two-dimensional-chart.preview-mode a:hover {
    cursor: default;
    text-decoration: none;
    color: #333333 !important;
}

.two-dimensional-chart-table {
    border-collapse: collapse;
}

.two-dimensional-chart-table th {
    background-color: #F5F5F5;
    text-align: left;
    vertical-align: bottom;
}

.two-dimensional-chart-table td, .two-dimensional-chart-table th {
    border: 1px solid #CCCCCC;
    padding: 4px;
}

.two-dimensional-chart-table .totals {
    background-color: #F5F5F5;
    font-weight: 700;
}

.two-dimensional-chart-table .jira-issue-status-icon {
    vertical-align: middle;
}

.two-dimensional-chart .gadget_image img {
    border: 0 none;
    float: left;
    margin-right: 4px;
    padding-top: 2px;
}

.two-dimensional-chart  .default_image {
    background-position: 4px 50%;
    background-repeat: no-repeat;
    padding-left: 2em;
}

.two-dimensional-chart .default_image_component {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAMFBMVEX///9wcHBwcHBwcHBwcHBwcHBwcHBwcHBwcHAAAAAAAAAAAAAAAAAAAAAAAAAAAACyF7fRAAAACHRSTlMAETNmd4jd7og4lAUAAAAbdEVYdGppcmEtc3lzdGVtLWltYWdlLXR5cGUAaWNvbroqOUUAAAB2SURBVHjaY2YAATXeD8weKS5/HqWoHWexrmCpeS7wX4HpL8MfpkAGxiAmoAoWAQYGESCD8c8HBoY3TCwCIv/WM/xfx3KkgmHH7Q+/HjBAzFFgYPRwYNjBAcQMzQwsDSAMMocBhJkYoABkDgMIs7AIsDKAMFwXAArdImNY1/cUAAAAAElFTkSuQmCCXyMAAAAASUVORK5CYII=);
}

.two-dimensional-chart .unreleased_unarchived_version {
    background-image: url(data:image/gif;base64,R0lGODlhEAAQAOYAAIhTAOazK82yecyZAPLp1rqHAMufPtiyVuvewK16AL6OHsmZIO3FePvIWMKjY55sDOy5P/jEUdzGn9CdEa18EOCtI7yOM+nEbcKPAPnSieGvLvrz4+DCe/3Xc9ijEplmAO+8R8mWDee0Nv3pr7aDANe6acGTRraFHqd0APvTe9SgJNasZt2qFdWsTvjQf+fSm8WSANq8eceVH/Tr1v/MZq1zAO67PdCeJrOEDfvbePe9StilGeCtKPfEWfLHcfv47ujCgua1Qr6LAO+7QOWyM8mWB45ZAMiYJs2aI/7KXsKODOOwL9mmJP/Oe+bWnPnx26l3Bf/dh////wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAUUAFIALAAAAAAQABAAAAeegFKCg4SFhk8lFxyGhCMdKSsPEoyDKSZGRh8OCDkaG4UvQAAfKCgeEBFDCzOEBxYoCQogDREQIhU4hCpRPgYUGSLBE0IJhDc0SQ00DC4eAwMYxYNIST06ts7P0YRIEREgtjvPMMSEMiDgIkseMO0FUOY2wRo8w0IFJPCDLUpMARUVQpAYeAJBoR8xjihhUSQBjheUBBFwgENAxIuDAgEAOw==);
    vertical-align: middle;
}

.two-dimensional-chart .released_unarchived_version, .two-dimensional-chart .released_archived_version, .two-dimensional-chart .unreleased_archived_version {
    vertical-align: middle;
}

.two-dimensional-chart .chart-summary {
    float: left;
    padding-top: 5px;
}

.two-dimensional-chart .show-link-container {
    display: inline-block;
}

.two-dimensional-chart .show-link-container a {
    cursor: pointer;
}

.two-dimensional-chart .show-link-container .show-error {
    color: #D04437;;
}

.wiki-content .two-dimensional-chart .aui-lozenge.jira-issue-status-lozenge-green {
    background-color: #FFFFFF;
    border-color: #B2D8B9;
    color: #14892C;
}

.wiki-content .two-dimensional-chart .aui-lozenge.jira-issue-status-lozenge-blue-gray {
    background-color: #FFFFFF;
    border-color: #E4E8ED;
    color: #4A6785;
}

.wiki-content .two-dimensional-chart .aui-lozenge.jira-issue-status-lozenge-yellow {
    background-color: #FFFFFF;
    border-color: #FFE28C;
    color: #594300;
}
